# Task 1

In [11]:
# Import MySQL Connector/Python 
import mysql.connector as connector

connection=connector.connect(user="root",password="Mysql2023!")

In [12]:
cursor = connection.cursor()

In [15]:
use_database_query="""use LittleLemonDB"""
cursor.execute(use_database_query)
print(connection.database)

LittleLemonDB

# Task 2

In [16]:
show_tables_query = """SHOW TABLES"""
cursor.execute(show_tables_query)
result = cursor.fetchall()
print(result)

[('Booking',), ('Customer',), ('Menu',), ('MenuItems',), ('Order_Delivery_Status',), ('Orders',), ('OrdersView',), ('Staff',)]

# Task 3 - Query w Table Join

In [20]:
join_query="""select a.CustomerName, b.Total_Cost
from 
LittleLemonDB.Customer a
inner join LittleLemonDB.Orders b
on a.CustomerID = b.CustomerID
where b.total_cost > 60;"""

cursor.execute(join_query)
result = cursor.fetchall()
print(result)

[('Snasir', Decimal('200')), ('Shani', Decimal('155'))]